$bg-primary: rgba(243, 243, 243, 1);
$color-primary: rgba(0, 117, 255, 1);
$color-border: rgba(243, 243, 244, 1);
$text-primary: rgba(43, 43, 43, 1);
$text-muted: rgba(165, 165, 165, 1);
$text-danger: rgba(255, 77, 0, 1);
$sidebar-width: 375px;

@font-face{
    font-family: 'Poppins';
    font-weight: normal;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}

html, body{
    height: 100%;
}

body{
    height: 100%;
    background-color: $bg-primary;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: $text-primary;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
    margin-bottom: 0.5rem;
    line-height: 1;
}

a{
    color: $text-primary;
    &:hover{
        color: $text-primary;
        text-decoration: none;
    }
}

.btn{
    border-radius: 0px !important;
    background: transparent;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
}

.btn-text{
    background: transparent; 
    color: $color-primary; 
    border: 0px; 
    padding:0px;
    text-align: left;
}

.btn-primary{
    background: $color-primary;
    min-width: 100px;

    &:hover{
        background-color: #0053B6;
    }
}

.btn-done{
    color: white;
    background: #00CA20;
    min-width: 100px;
    &:hover{
        color: white;
        background-color: #00A11C;
    }
}

.btn-edit{
    background: #7BDFFF;
    color: white;
    width: 100px;
    &:hover{
        color: white;
        background-color: #51D4FF;
    }
}

.btn-danger{
    background: #FF4D00;
    border: 0px;
    color: white;
    min-width: 100px;
    &:hover{
        background-color: #C63B00;
    }
}

.btn-save{    
    color: white;
    min-width: 100px;

    &:disabled{
        background: transparent;
        border: 1px solid #ABABAB;
        color: #ABABAB;
    }
}

.btn-outline-primary{
    border: 1px solid $color-primary;
    min-width: 100px;

    &:hover{
        background-color: $color-primary;
    }
}

.btn-outline-danger{
    background: transparent;
    width: 100px;
    border: 1px solid #FF4D00!important;

    &:hover{
        background-color: #FF4D00;
    }
}

.btn-outline-done{
    background: transparent;
    width: 100px;
    border: 1px solid #00CA20!important;
    color: #00CA20;

    &:hover{
        color: white;
        background-color: #00CA20;
    }
}

.btn-page{
    &.active{
        color: $color-primary;
        font-weight: 600;
    }

    &:disabled{
        opacity: 1;
    }
}

.btn-prev,.btn-next{
    color: $color-primary;
    &:disabled{
        color: $text-primary;
        opacity: 1;
    }
}

// TEXT-COLOR
.text-muted{
    color: $text-muted;
}

.text-danger{
    color: $text-danger;
}

.font-bold{
    font-weight: bold;
}

.font-semiBold{
    font-weight: 600;
}

// IMAGE
.img-rounded{
    border-radius: 100rem;
}

// INPUT
input{
    width: 100%;
    color: $text-primary;
    padding: 0px;
    border: 0px;
    background-color: transparent;

    &::placeholder{
        color: rgba(0,0,0,.25) !important;
    }

    &:focus{
        outline: none;
    }
}

textarea, option{
    color: $text-primary;

    &:focus{
        outline: none;
    }
}

.custom-select{
    position: relative;
    height: 50px;
    
    &:disabled{
        color: #7F7F7F !important;
    }

    &:focus{
        border: 0px;
        // box-shadow: none;
    }
}

#login{
    display: flex;

    .container-title{
        position: absolute;
        top: 0;
        left:0;
        right:0;
        bottom:0;

        .content-title{
            margin-top: 10rem;
            margin-left: 5rem;
            line-height: 1.5;
            color: white;
            font-weight: bold;
            font-size: 5.5rem;
        }
    }

    .container-content{
        width:50%;
        height:100vh;
        position: relative;

        .container-form {
            margin-right: auto;
            margin-left: 5.5rem;
        }
    }

    .container-input{
        display: flex;
        padding-bottom: 1rem;
        border-bottom: 2px solid $text-muted;
        margin-bottom: 1.5rem;

        &.focus{
            border-bottom: 2px solid $color-primary;
        }

        img{
            margin-right: 2rem;
        }

        input{
            color: $color-primary;
            width: 100%;
        }
    }

    .btn-login{
        width: 100%;
        height: 50px;
        font-weight: 600;
        background-color: $color-primary;

        &:hover{
            background-color: #0053B6;
        }
    }
}

#navbar{
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: white;
    padding: 1.5rem;
    z-index: 1;

    .navbar-content-container{
        position: relative;
    }
}

#sidebar{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    width: $sidebar-width;
    height: 100vh;
    overflow: scroll;
    z-index: 2;
    transition: margin-left 0.25s ease-in-out;

    .content-username{
        font-weight: 600;
        font-size: 1.5rem;
    }

    .content-role{
        font-size: 1rem;
        font-weight: 600;
        color: $text-muted;
    }      

    #sidebar-menu{
        display: flex;
        flex-direction: column;
        height: 100%;

        .menu-container{
            margin-top:1.25rem;
            margin-bottom: 1.25rem;

            &.active{
                .menu-title{
                    color: $color-primary;
                }
            }
        }

        .menu-title{
            color: rgba(196,196,196,1);
            font-size: 1.15rem;
        }

        .menu-icon{
            width: 1.5rem;
        }
    }
}

.d-square-container{
    position: relative;
    padding-top: 100%;
    overflow: hidden;

    .img-preview{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0; left: 0; right: 0; bottom: 0;
        object-fit: cover;
    }

    .d-square-content{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0; left: 0; right: 0; bottom: 0;
    }
}

.d-img-placeholder{
    background-color: #F6F7F7;
    border-radius: 10px;

    .placeholder-input-container{
        label{
            position: absolute;
            cursor: pointer;
            top: 0; left:0; right:0; bottom:0;
            z-index: 999;
        }
        input{
            opacity: 0;
            position: absolute;
            top: 0; left:0; right:0; bottom:0;
        }
    }
    

    .placeholder-title{
        color: #888E9E;
        font-weight: 500;
    }
}

.img-square-container{
    position: relative;
    padding-top: 100%;

    img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
    }
}

#wrapper{
    width: 100%;
    height: 100%;
    margin-left: $sidebar-width;
    padding: 3.5rem 3rem;
    margin-bottom: 2rem;
    overflow: scroll;
}

section{
    table{
        background-color: white !important;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
        
        th{
            font-weight: 500;
            color: $text-muted;
            border-top:0px !important;
            border-bottom: 2px solid $color-border !important;
            white-space: nowrap !important;
        }
        td{
            vertical-align: middle !important;
            border-top: 2px solid $color-border !important;
            &.column-action{
                width: 25%;
                white-space: nowrap;
            }
        }

        &.align-top{
            td{
                vertical-align: top !important;
            }
        }
    }
}

.pagination{
    background-color: white;
    border-radius: 0px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);

    .btn{
        background-color: transparent;
        padding: 0px;
        line-height: 1;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1rem;
    }
}

.search-container{
    img{
        margin-top: auto;
        margin-bottom: auto;
        height: 1rem;
    }

    input{
        margin-left: 1rem;
        font-size: 1rem;;
    }
}

#section-banner{

    .header-form {
        border-bottom: 1px solid #F3F3F4;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .header-title{
            font-weight: 500;
            font-size: 1.25rem;
        }
    }

    .content-form{
        padding: 2rem 2rem;

        .form-label{
            margin-bottom: 1rem;
        }

        input{
            padding-left: 1rem;
            padding-right: 1rem;
            height: 50px;
            border: 1px solid #DADADA;

            &:disabled{
                background-color: #EAEAEA;
            }
        }
    }
}

#section-form{
    .header-form {
        border-bottom: 1px solid #F3F3F4;

        .header-title{
            font-weight: 500;
            font-size: 1.25rem;
        }

        .btn-primary{
            height: unset;
            border-radius: 0px;
            min-width: unset;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }

    .content-form{
        padding: 2rem 2rem;

        .form-label{
            margin-bottom: 1rem;
        }

        .img-profile{
            border-radius: 10px;
        }

        input{
            height: 50px;
        }

        input, textarea, select{
            padding: 0.5rem;
            border: 1px solid #DADADA;

            &:disabled{
                background-color: #EAEAEA;
            }
        }

        textarea{
            width: 100%;
        }

        .radio-d{
            border-radius: 40px;
            display: flex;
            border: 1px solid $text-primary;
            background-color: white;

            &.selected{
                background-color: $color-primary;
                &.disabled{
                    background-color: #C4C4C4;
                }    
            }

            &.disabled{
                border: 1px solid #C4C4C4;
                background-color: white;
            }   
            
            .radio-inner-d{
                margin: auto;
                border-radius: 40px;
                width:35%;
                height:35%;
                background-color: white;
            }
        }
    }

    #btn-ban, #btn-reject, #btn-accept{
        border-radius: 0px;
        min-width: 250px;

        &:disabled{
            background: transparent;
            border: 1px solid #ABABAB;
            color: #ABABAB;
        }
    }

    #btn-save{
        font-size: 1rem;
        border-radius: 0px;
        min-width: 250px;

        &:disabled{
            background: transparent;
            border: 1px solid #ABABAB;
            color: #ABABAB;
        }
    }
    
}

// BANNER SECTION
.banner-d{
    position:relative;
    padding-top:50%;
    border-radius: 12px;
    overflow: hidden;

    label{
        position: absolute;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        opacity: 0;
        cursor: pointer;  
    }

    #banner-input-file{
        position: absolute;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        object-fit: cover;
        width: 100%;
        height: 100% !important;
        opacity: 0;
        
    }

    .banner-img{
        position: absolute;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .banner-overlay{
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left:0;
        right:0;
        bottom:0;
        width: 100%;
        height: 100%;

        .banner-menu-d{
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
}

.banner-title {
    font-weight: 500;
}

// OVERLAY
.popup-container{            
    position: fixed;
    top: 0; bottom: 0; left:0; right:0;
    z-index: 999;
    .popup-overlay{
        position: absolute;
        top: 0; bottom: 0; left:0; right:0;
        background-color: rgba(0,0,0,0.5);
        z-index: 998;
    }
    .popup-content-container{
        position: absolute;
        top: 0; bottom: 0; left:0; right:0;
        display: flex;

        .popup-content{
            position: relative;
            z-index: 999;
            border-radius: 10px;
            background-color: white;
            margin: auto;
            max-width: 85%;
            max-height: 85%;
            overflow: scroll;

            .page-content-inner{
                overflow: scroll;
                padding: 2rem;

                input{
                    height: 50px!important;
                }
            }
        }
    }
}

#form-content-transaction{
    p{
        line-height: 1.5rem;
    }

    .title{
        font-size: 0.85rem;
    }
}

.hide-scrollbar{
    &::-webkit-scrollbar{
        display: none !important;
    }
    -ms-overflow-style: none !important;
    scrollbar-width: none;
}

.custom-input-file{
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%230075FFFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
    opacity: 1;

    .content{
        position: absolute;
        display: flex;
        top:0; left:0; right:0; bottom:0;

        .content-title{
            text-align: center;
            margin: auto;
            color: $color-primary;
        }
    }

    label{
        position: absolute;
        cursor: pointer;
        top:0; left:0; right:0; bottom:0;
        z-index: 999;
    }

    input[type="file"]{
        opacity: 0;
    }

    &.disabled{
        opacity: 0.5;

        label{
            cursor: unset;
        }
    }
}


@media only screen and (max-width: 540px) {
    #login{
        .container-content{
            width:100%;
            height:100vh;
            position: relative;

            .container-title{
                .content-title{
                    margin-top: 3.5rem;
                    margin-left: 2rem;
                    font-size: 3rem;
                }
            }
    
            .container-form {
                border-radius: 10px;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }
    
    #sidebar{
        width: 100%;
        height: 100vh;
        margin-left: -100%;
    }

    #wrapper{
        padding-top: calc(78px + 2.5rem);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 540px) and (max-width: 1140px) {
    #login{
        .container-content{
            .container-title{
                .content-title{
                    margin-top: 8rem;
                    margin-left: 4rem;
                    font-size: 4rem;
                }
            }
    
            .container-form {
                border-radius: 10px;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 2rem;
                margin-right: 2rem;
            }
        }
    }

    #sidebar{
        margin-left: -100%;
    }

    #wrapper{
        padding-top: calc(78px + 2.5rem);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 0px;
    }
}

// LANDSCAPE PHONE
@media only screen and (max-height: 540px) and (max-width: 1140px) {
    #login{
        .container-content{
            .container-title{
                .content-title{
                    margin-top: 3rem;
                    margin-left: 3rem;
                    font-size: 3rem;
                }
            }
        }
    }
}