@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}
html, body {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #2b2b2b;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  margin-bottom: 0.5rem;
  line-height: 1;
}

a {
  color: #2b2b2b;
}
a:hover {
  color: #2b2b2b;
  text-decoration: none;
}

.btn {
  border-radius: 0px !important;
  background: transparent;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}

.btn-text {
  background: transparent;
  color: #0075ff;
  border: 0px;
  padding: 0px;
  text-align: left;
}

.btn-primary {
  background: #0075ff;
  min-width: 100px;
}
.btn-primary:hover {
  background-color: #0053B6;
}

.btn-done {
  color: white;
  background: #00CA20;
  min-width: 100px;
}
.btn-done:hover {
  color: white;
  background-color: #00A11C;
}

.btn-edit {
  background: #7BDFFF;
  color: white;
  width: 100px;
}
.btn-edit:hover {
  color: white;
  background-color: #51D4FF;
}

.btn-danger {
  background: #FF4D00;
  border: 0px;
  color: white;
  min-width: 100px;
}
.btn-danger:hover {
  background-color: #C63B00;
}

.btn-save {
  color: white;
  min-width: 100px;
}
.btn-save:disabled {
  background: transparent;
  border: 1px solid #ABABAB;
  color: #ABABAB;
}

.btn-outline-primary {
  border: 1px solid #0075ff;
  min-width: 100px;
}
.btn-outline-primary:hover {
  background-color: #0075ff;
}

.btn-outline-danger {
  background: transparent;
  width: 100px;
  border: 1px solid #FF4D00 !important;
}
.btn-outline-danger:hover {
  background-color: #FF4D00;
}

.btn-outline-done {
  background: transparent;
  width: 100px;
  border: 1px solid #00CA20 !important;
  color: #00CA20;
}
.btn-outline-done:hover {
  color: white;
  background-color: #00CA20;
}

.btn-page.active {
  color: #0075ff;
  font-weight: 600;
}
.btn-page:disabled {
  opacity: 1;
}

.btn-prev, .btn-next {
  color: #0075ff;
}
.btn-prev:disabled, .btn-next:disabled {
  color: #2b2b2b;
  opacity: 1;
}

.text-muted {
  color: #a5a5a5;
}

.text-danger {
  color: #ff4d00;
}

.font-bold {
  font-weight: bold;
}

.font-semiBold {
  font-weight: 600;
}

.img-rounded {
  border-radius: 100rem;
}

input {
  width: 100%;
  color: #2b2b2b;
  padding: 0px;
  border: 0px;
  background-color: transparent;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.25) !important;
}
input:focus {
  outline: none;
}

textarea, option {
  color: #2b2b2b;
}
textarea:focus, option:focus {
  outline: none;
}

.custom-select {
  position: relative;
  height: 50px;
}
.custom-select:disabled {
  color: #7F7F7F !important;
}
.custom-select:focus {
  border: 0px;
}

#login {
  display: flex;
}
#login .container-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#login .container-title .content-title {
  margin-top: 10rem;
  margin-left: 5rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
  font-size: 5.5rem;
}
#login .container-content {
  width: 50%;
  height: 100vh;
  position: relative;
}
#login .container-content .container-form {
  margin-right: auto;
  margin-left: 5.5rem;
}
#login .container-input {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 2px solid #a5a5a5;
  margin-bottom: 1.5rem;
}
#login .container-input.focus {
  border-bottom: 2px solid #0075ff;
}
#login .container-input img {
  margin-right: 2rem;
}
#login .container-input input {
  color: #0075ff;
  width: 100%;
}
#login .btn-login {
  width: 100%;
  height: 50px;
  font-weight: 600;
  background-color: #0075ff;
}
#login .btn-login:hover {
  background-color: #0053B6;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  padding: 1.5rem;
  z-index: 1;
}
#navbar .navbar-content-container {
  position: relative;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 375px;
  height: 100vh;
  overflow: scroll;
  z-index: 2;
  transition: margin-left 0.25s ease-in-out;
}
#sidebar .content-username {
  font-weight: 600;
  font-size: 1.5rem;
}
#sidebar .content-role {
  font-size: 1rem;
  font-weight: 600;
  color: #a5a5a5;
}
#sidebar #sidebar-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#sidebar #sidebar-menu .menu-container {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
#sidebar #sidebar-menu .menu-container.active .menu-title {
  color: #0075ff;
}
#sidebar #sidebar-menu .menu-title {
  color: #c4c4c4;
  font-size: 1.15rem;
}
#sidebar #sidebar-menu .menu-icon {
  width: 1.5rem;
}

.d-square-container {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}
.d-square-container .img-preview {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}
.d-square-container .d-square-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.d-img-placeholder {
  background-color: #F6F7F7;
  border-radius: 10px;
}
.d-img-placeholder .placeholder-input-container label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.d-img-placeholder .placeholder-input-container input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.d-img-placeholder .placeholder-title {
  color: #888E9E;
  font-weight: 500;
}

.img-square-container {
  position: relative;
  padding-top: 100%;
}
.img-square-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin-left: 375px;
  padding: 3.5rem 3rem;
  margin-bottom: 2rem;
  overflow: scroll;
}

section table {
  background-color: white !important;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}
section table th {
  font-weight: 500;
  color: #a5a5a5;
  border-top: 0px !important;
  border-bottom: 2px solid #f3f3f4 !important;
  white-space: nowrap !important;
}
section table td {
  vertical-align: middle !important;
  border-top: 2px solid #f3f3f4 !important;
}
section table td.column-action {
  width: 25%;
  white-space: nowrap;
}
section table.align-top td {
  vertical-align: top !important;
}

.pagination {
  background-color: white;
  border-radius: 0px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}
.pagination .btn {
  background-color: transparent;
  padding: 0px;
  line-height: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

.search-container img {
  margin-top: auto;
  margin-bottom: auto;
  height: 1rem;
}
.search-container input {
  margin-left: 1rem;
  font-size: 1rem;
}

#section-banner .header-form {
  border-bottom: 1px solid #F3F3F4;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#section-banner .header-form .header-title {
  font-weight: 500;
  font-size: 1.25rem;
}
#section-banner .content-form {
  padding: 2rem 2rem;
}
#section-banner .content-form .form-label {
  margin-bottom: 1rem;
}
#section-banner .content-form input {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 50px;
  border: 1px solid #DADADA;
}
#section-banner .content-form input:disabled {
  background-color: #EAEAEA;
}

#section-form .header-form {
  border-bottom: 1px solid #F3F3F4;
}
#section-form .header-form .header-title {
  font-weight: 500;
  font-size: 1.25rem;
}
#section-form .header-form .btn-primary {
  height: unset;
  border-radius: 0px;
  min-width: unset;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#section-form .content-form {
  padding: 2rem 2rem;
}
#section-form .content-form .form-label {
  margin-bottom: 1rem;
}
#section-form .content-form .img-profile {
  border-radius: 10px;
}
#section-form .content-form input {
  height: 50px;
}
#section-form .content-form input, #section-form .content-form textarea, #section-form .content-form select {
  padding: 0.5rem;
  border: 1px solid #DADADA;
}
#section-form .content-form input:disabled, #section-form .content-form textarea:disabled, #section-form .content-form select:disabled {
  background-color: #EAEAEA;
}
#section-form .content-form textarea {
  width: 100%;
}
#section-form .content-form .radio-d {
  border-radius: 40px;
  display: flex;
  border: 1px solid #2b2b2b;
  background-color: white;
}
#section-form .content-form .radio-d.selected {
  background-color: #0075ff;
}
#section-form .content-form .radio-d.selected.disabled {
  background-color: #C4C4C4;
}
#section-form .content-form .radio-d.disabled {
  border: 1px solid #C4C4C4;
  background-color: white;
}
#section-form .content-form .radio-d .radio-inner-d {
  margin: auto;
  border-radius: 40px;
  width: 35%;
  height: 35%;
  background-color: white;
}
#section-form #btn-ban, #section-form #btn-reject, #section-form #btn-accept {
  border-radius: 0px;
  min-width: 250px;
}
#section-form #btn-ban:disabled, #section-form #btn-reject:disabled, #section-form #btn-accept:disabled {
  background: transparent;
  border: 1px solid #ABABAB;
  color: #ABABAB;
}
#section-form #btn-save {
  font-size: 1rem;
  border-radius: 0px;
  min-width: 250px;
}
#section-form #btn-save:disabled {
  background: transparent;
  border: 1px solid #ABABAB;
  color: #ABABAB;
}

.banner-d {
  position: relative;
  padding-top: 50%;
  border-radius: 12px;
  overflow: hidden;
}
.banner-d label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.banner-d #banner-input-file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}
.banner-d .banner-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-d .banner-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.banner-d .banner-overlay .banner-menu-d {
  display: flex;
  width: 100%;
  height: 100%;
}

.banner-title {
  font-weight: 500;
}

.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.popup-container .popup-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.popup-container .popup-content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
.popup-container .popup-content-container .popup-content {
  position: relative;
  z-index: 999;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  max-width: 85%;
  max-height: 85%;
  overflow: scroll;
}
.popup-container .popup-content-container .popup-content .page-content-inner {
  overflow: scroll;
  padding: 2rem;
}
.popup-container .popup-content-container .popup-content .page-content-inner input {
  height: 50px !important;
}

#form-content-transaction p {
  line-height: 1.5rem;
}
#form-content-transaction .title {
  font-size: 0.85rem;
}

.hide-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.custom-input-file {
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%230075FFFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  opacity: 1;
}
.custom-input-file .content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.custom-input-file .content .content-title {
  text-align: center;
  margin: auto;
  color: #0075ff;
}
.custom-input-file label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.custom-input-file input[type=file] {
  opacity: 0;
}
.custom-input-file.disabled {
  opacity: 0.5;
}
.custom-input-file.disabled label {
  cursor: unset;
}

@media only screen and (max-width: 540px) {
  #login .container-content {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  #login .container-content .container-title .content-title {
    margin-top: 3.5rem;
    margin-left: 2rem;
    font-size: 3rem;
  }
  #login .container-content .container-form {
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #sidebar {
    width: 100%;
    height: 100vh;
    margin-left: -100%;
  }

  #wrapper {
    padding-top: calc(78px + 2.5rem);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 1140px) {
  #login .container-content .container-title .content-title {
    margin-top: 8rem;
    margin-left: 4rem;
    font-size: 4rem;
  }
  #login .container-content .container-form {
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #sidebar {
    margin-left: -100%;
  }

  #wrapper {
    padding-top: calc(78px + 2.5rem);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0px;
  }
}
@media only screen and (max-height: 540px) and (max-width: 1140px) {
  #login .container-content .container-title .content-title {
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
